.articles {
  width: 100%;
  background-color: #f6f8fa;

  &__container {
    width: 1216px;
    margin: 0 auto;
    padding: 42px 0 67px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-flow: dense;
    column-gap: 32px;
    row-gap: 37px;
  }
}

@media screen and (max-width: 1280px) {
  .articles {
    &__container {
      width: 95%;
      display: block;
      padding-top: 20px;
      padding-bottom: 32px;
    }
  }
}

@media screen and (max-width: 500px) {
  .articles {
    &__container {
      width: 90%;
    }
  }
}
