@import "../../utils/_vars";

.questions {
  width: 1008px;
  margin: 0 auto 80px;

  &__title {
    margin: 0;
    padding-bottom: 42px;

    @extend %title;
  }

  &__container {
    width: 100%;
    margin: 0;
  }
}

@media screen and (max-width: 1080px) {
  .questions {
    width: 95%;
    margin-bottom: 32px;
  }
}
