@import "../../utils/_vars";

.questions {
  width: 1008px;
  margin: 80px auto;

  &__title {
    margin: 0;
    padding-bottom: 42px;

    @extend %title;
  }

  &__container {
    width: 100%;
    margin: 0;
    padding: 0;
  }
}

@media screen and (max-width: 1080px) {
  .questions {
    width: 95%;
    margin-bottom: 32px;
  }
}

@media screen and (max-width: 500px) {
  .questions {
    width: 90%;

    &__title {
      font-size: 24px;
      padding-bottom: 21px;
    }
  }
}
