.title-block {
  width: 39%;
  padding: 232px 0 313px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  flex-direction: column;

  &__title {
    width: 100%;
    font-weight: 600;
    font-size: 52px;
    line-height: 1.2;
    color: #ffffff;
    text-align: center;
    margin: 0;
    padding-bottom: 22px;
  }

  &__text {
    width: 100%;
    font-size: 18px;
    line-height: 1.7;
    color: #ffffff;
    text-align: center;
    margin: 0;
    padding-bottom: 92px;
  }

  &__button {
    width: 251px;
    height: 64px;
    margin: 0 auto;
    text-align: center;
    color: #000;
    background-color: #eceff2;
    border: none;
    border-radius: 4px;
    font-size: 20px;
    line-height: 1.2;
    padding: 0;
    font-weight: 600;
    cursor: pointer;

    &:hover {
      background-color: #ffffff;
    }
  }
}

@media screen and (max-width: 1280px) {
  .title-block {
    width: 70%;
    padding: 316px 0 313px;

    &__title {
      font-size: 32px;
      line-height: 1.25;
    }

    &__text {
      font-size: 16px;
      padding-bottom: 37px;
    }
  }
}

@media screen and (max-width: 600px) {
  .title-block {
    width: 70%;
    padding: 91px 0 172px;

    &__title {
      font-size: 24px;
      line-height: 1.3;
      padding-bottom: 15px;
    }

    &__text {
      padding-bottom: 27px;
    }
  }
}

@media screen and (max-width: 321px) {
  .title-block {
    width: 85%;
    padding: 49px 0 129px;

    &__title {
      font-size: 24px;
      line-height: 1.3;
      padding-bottom: 15px;
    }

    &__text {
      padding-bottom: 27px;
    }
  }
}
